/* Autor: Silas Fernandes  */

body{
    background-color: #EEF9BF;
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

*{
    box-sizing: border-box;
}

main{
    margin-top: 20px;
    width: 80%;
}

h1{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;

    margin: 40px 0;
}

.board{
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
}

.card{
    width: 117px;
    height: 146px;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.front-face{
    background-image: url("img/front.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.back-face{
    transform: rotateY(180deg);
}

.back-face img{
    width: 100%;
}

.card.selecionado .back-face {
    transform: rotateY(0deg);
}

.card.selecionado .front-face {
    transform: rotateY(-180deg);
}

/* .card.verificado .back-face {
    transform: rotateY(0deg);
}

.card.verificado .front-face {
    transform: rotateY(-180deg);
} */

@media (max-width:400px) {
    main{
        width: 90%;
        margin: auto;
    }

    h1{
        text-align: center;
    }

    .cartas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}